<section data-section-id="{{ section.id }}" class="mult-product-section">
  <div class="image-container">
    <div class="large-image-products">
      <img src="{{ section.settings.largeImage | img_url: '1000x' }}" alt="">
      {%- for block in section.blocks -%}
        <div class="dot {% if forloop.first%}active{% endif %}" data-handle="{{ block.settings.block  _product }}" style="top: {{ block.settings.vertical }}%; left: {{ block.settings.horizontal }}%;  "></div>
      {% endfor %}
    </div>
    <div id="product" class="product-container"></div>
  </div>
</section>


{% schema %}
  {
    "name": "Multi Products",
    "settings": [
      {
        "id": "largeImage",
        "type": "image_picker",
        "label": "Large Image"
      }
    ],
    "blocks": [
      { 
        "type": "products",
        "name": "Products",
        "settings": [
          {
            "type": "product",
            "id": "block_product",
            "label": "Product"
          },
          {
            "type": "range",
            "id": "horizontal",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Horizontal Position",
            "default": 50
          },
          {
            "type": "range",
            "id": "vertical",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Vertical Position",
            "default": 50
          }
        ]	
      }
    ],
    "presets": [{
      "name": "Multi Products",
      "category": "product"
    }]
  }
{% endschema %}